.pwl-extension-img {
  position: fixed;
  z-index: 1111111111;
  max-height: 100vh;
  max-width: 60vw;
  overflow: auto;
  top: 50px;
  left: 50px;
}
.pwl-message-fixed-box {
  position: fixed;
  z-index: 2147483647;
  pointer-events: none;
  top: 50px;
  width: 100%;
  height: 250px;
}
.pwl-message-box {
  position: relative;
  width: 100%;
  height: 250px;
}
.pwl-message-child {
  position: absolute;
  display: flex;
  line-height: 1;
  width: fit-content;
  max-width: 40vw;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}
.pwl-message-child audio, .pwl-message-child iframe {
  max-width: 100px;
  max-height: 20px;
}
.pwl-message-child img {
  max-height: 50px;
}
.pwl-message-child img[alt="图片表情"] {
  max-height: 20px;
}
.pwl-message-child img[class="emoji"] {
  max-height: 20px;
}
.pwl-message-child p {
  margin: 0;
}
.pwl-message-input {
  z-index: 2147483647;
  position: fixed;
  bottom: 40px;
  left: 50px;
  height: 30px;
  line-height: 30px;
  width: 160px;
}