.pwl-extension-img {
  position: fixed;
  z-index: 1111111111;
  max-height: 90vh;
  max-width: 60vw;
  overflow: auto;
  top: 50px;
  left: 50px;
}
.pwl-message-fixed-box {
  position: fixed;
  z-index: 2147483647;
  pointer-events: none;
  top: 50px;
  width: 100%;
}
.pwl-message-box {
  position: relative;
  width: 100%;
}
.pwl-message-child {
  position: absolute;
  display: flex;
  line-height: 1;
  width: fit-content;
  max-width: 40vw;
  margin-right: 50px;
}
.pwl-message-child audio, .pwl-message-child iframe {
  max-width: 100px;
  max-height: 60px;
}
.pwl-message-child img {
  pointer-events: auto;
  max-height: 40px;
}
.pwl-message-child * {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}
.pwl-message-child img[class="emoji"] {
  pointer-events: none;
}
.red-packet {
  pointer-events: auto;
}
.pwl-message-input {
  z-index: 2147483647;
  position: fixed;
  bottom: 40px;
  left: 50px;
  height: 30px;
  line-height: 30px;
  width: 160px;
}